<div
  data-bs-spy="scroll"
  data-bs-target="#navbar-example2"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="recipe-list scrollspy-example bg-body-tertiary p-3 rounded-2"
  tabindex="0"
>
  <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" href="#">{{ recipe.title }}</a>
  </nav>
  <img src="{{ recipe.image }}" class="card-img-top" alt="recipe image" />
  <app-recipe-modal [recipe]="recipe"></app-recipe-modal>
</div>
