<div class="container mt-3">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#' + recipe.id"
  >
    See full recipe
  </button>
</div>
<div class="modal" [attr.id]="recipe.id">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ recipe.title }}</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        {{ recipe.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
